@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-base font-normal text-black bg-fbWhite
}

@layer base {
  h1 {
  @apply text-2xl font-bold;
  }
  h2 {
  @apply text-xl;
  }
  h3 {
  @apply text-lg;
  }

}
@layer utilities {
  
  .tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  
  .icon-side-bar {
    @apply text-white p-2 bg-[#F27125] font-bold rounded-full hover:bg-[rgb(249,216,138)] cursor-pointer
  }
  .icon-text-side-bar {
    @apply text-xs hidden lg:block sp
  }
  .cs-badge-circle {
    @apply text-xs text-center rounded-full px-1;
  }
  
  /* .epr-body::-webkit-scrollbar {
    width: 10px !important;
    height: 15px !important;
  }

  .epr-body {
      scrollbar-gutter: auto !important;
  }

  .epr-body::-webkit-scrollbar-thumb {
      background: transparent !important;
      border-radius: 100vh !important;
      border: 1px solid #f6f7ed !important;
  }

  .epr-body:hover::-webkit-scrollbar-thumb {
      background: rgb(242,113,36) !important;
  } */
  /* .m_539e827b:where([data-active]){
    border-bottom: 2px solid red !important;
  } */

  .scrollbar-none-track::-webkit-scrollbar {
    width: 10px;
    height: 15px;
  }
  .scrollbar-none-track{
    scrollbar-gutter: auto | stable && both-edges?
  }
  .scrollbar-none-track::-webkit-scrollbar-thumb {
    background: #transparent;
    border-radius: 100vh;
    border: 1px solid #f6f7ed;
  }
  .scrollbar-none-track:hover::-webkit-scrollbar-thumb{
    background: rgb(242,113,36);
  }

  .img-bg {
    background-image: url('./src/assets/img/alphabuilding.jpg'),
      linear-gradient(to right,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
      url('./src/assets/img/alphabuilding.jpg');
    background-size: contain, cover, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center, center;
  }

  .img-bg2 {
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),url('./src/assets/img/alphabuilding_long.jpg');
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
  }
  
  .circle {
    @apply bg-fbWhite h-8 w-8 flex justify-center items-center rounded-[50%] z-[1] 
  }
  .active {
    @apply border-gray-500 text-white bg-green-700 my-4 
  }
}

